/* -------------------------------- RESET ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* -------------------------------- VARIABLES------------------ */
:root {
  --header-height: 4.5rem;

  /*colors*/
  --hue: 209;
  /*HSL color mode*/
  --base-color: hsl(var(--hue) 33% 26%);
  --base-color-second: hsl(197, 24%, 67%);
  --base-color-alt: hsl(197, 24%, 47%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0, 0%, 98%);

  /* FONTS */

  --title-font-size: 1.85rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* -------------------------------- BASE ------------------ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34));
}

.divider-2 {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      hsla(var(--hue), 36%, 57%, 1));
}

/* -------------------------------- LAYOUT ------------------ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

/* -------------------------------- LOGO ------------------ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
  font-style: oblique;
  font-weight: 200;
}

.logo-alt span {
  color: var(--body-color);
}

.logo img {
  padding-top: 0.5rem;
  height: 5rem;
}

/* -------------------------------- NAVIGATION ------------------ */

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0%;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/*toggle menu*/

.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* --------------------------------Logo Parallax ------------ */

#logo-parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-image: url("https://blog.psicomanager.com.br/wp-content/uploads/2022/12/imagem5.png");
}

/* #logo-parallax {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
} */


/* -------------------------------- HOME ------------------ */

#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

/* #home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -4.3%;
  left: -1.3%;
  z-index: 0;

}

#home .image img,
#home .image::before {
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 4rem;

} */



#home .image img {
  position: relative;
  right: -1.07rem;
  width: 24.93rem;
  /* height: 32.75rem; */
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/*-----------ABOUT------------*/
#about {
  background-color: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -4.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
  width: 22rem;
  height: 31.187rem;
}

#about .image img,
#about .image::before {
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 4rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*-----------SERVICES------------*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5;
  margin-bottom: 0.75rem;
}

#logo_card {
  width: 7rem;
}

/*-----------CERTIFICATE------------*/
#certificates {
  background-color: white;
}

#certificates .container {
  margin-left: 0;
  margin-right: 0;
}


#certificates header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#certificates header h2 {
  text-align: center;
}

#certificates blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#img-certificate {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/*-----------TESTIMONIALS------------*/

#testimonials {
  background-color: white;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}


#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials header h2 {
  text-align: center;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: italic;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
  filter: blur(2px);
}

/*-----------CONTACT------------*/
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact .button {
  margin-bottom: 1rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*-----------FOOTER------------*/

footer {
  background: var(--base-color-alt);
}

footer.section {
  padding: 2rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer .brand a img {
  width: 6rem;
  height: 5rem;
  margin-left: 5.5rem;
}

/*-----------BACK TO TOP------------*/

.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* Cookies */
.cookies-msg {
  width: 80%;
  background: var(--body-color);
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 15px;
}

.cookies-msg .cookies-txt {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 20px;
}


/*-----------RESPONSIVE (o nome de cada um é brack point)------------*/
/* large devices: 767>*/
@media (min-width: 767px) and (max-width: 991px) {
  .logo {
    margin-left: 16.25rem;
  }

  .section header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #home .image img {
    right: -5rem;
  }

  #home .image::before {
    width: 60%;
  }

  #about .image img {
    right: -22rem;
  }

  #about .image::before {
    width: 60%;
    left: 20%;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
}

/* large devices: 992>*/
@media (min-width: 992px) and (max-width:1199px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }


  .section {
    padding: 9rem 0;
  }

  .section header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* nav */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1.3rem var(--body-font)
  }

  nav .icon-menu {
    display: none;
  }

  /* home */

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    text-align: left;
  }

  /* About */

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }


  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

}

/*extra large devices: 1200> */
@media (min-width: 1200px) {

  /* reutilização de classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #certificates header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  #home .image::before {
    height: 102%;
    width: 36%;
    top: -3.3%;
    left: 31.7%;
  }

  #home .text {
    order: 0;
    max-width: 100rem;
    text-align: center;
    margin: 1rem auto;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  #about .image::before {
    top: -1.3%;
    left: -3%;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* certificates */
  #certificates .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }


  /* contacts */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 2rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2rem;
  }
}

/* large devices: 1023>*/